<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/js/virtualsky.min.js?nocache=22"></script>


<style>
body {
	margin: 0;
	padding: 0;
}

#starmap1 {
	width: 100%;
	height: 800px;
}
#starmap2 {
	width: 100%;
	height: 800px;
}
</style>
</head>
<body>
	<h2>현재 태양의 위치</h2>
	<p id="info"> 위치 정보 불러오는 중...</p>
	<div id="starmap1"></div>

	<script>
    $(document).ready(function () {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success, error);
      } else {
        $("#info").text(" 위치 정보 기능을 지원하지 않습니다.");
      }

      function success(position) {
        const lat = position.coords.latitude;
        const lon = position.coords.longitude;

        //  Flask API 호출
        fetch(`http://localhost:5000/api/planets?lat=${lat}&lon=${lon}`)
          .then(res => res.json())
          .then(data => {
            /* const ra = data.ra;
            const dec = data.dec; */
            const sun = data[0];
            const jupiter = data[1];
            const saturn = data[2];
            const mars = data[3];

            $("#info").html(` 위치: ${lat.toFixed(3)}, ${lon.toFixed(3)}<br>`);
            
         

            //  VirtualSky 초기화
            const sky= $.virtualsky({
              id: "starmap1",
              lang: "en",
              projection: "stereo",
              ground: false,
              latitude: lat,
              longitude: lon,
              clock: new Date(),
              constellations: false,
              constellationlabels: false,
              showstars: true,
              planets: false,
              planetlabels: false,
              showposition: false,
              gridlines_az: true,
              mouse: {
                drag: true,
                zoom: true,
                move: true
              }
            });
            setTimeout(() => {
            	sky.draw.planets = false;
            	
            	
                
            	
                sky.setClock(new Date());
                sky.times = sky.astronomicalTimes();  
                console.log("🌍 VirtualSky 설정 확인");
                console.log("위도:", sky.latitude);
                console.log("경도:", sky.longitude);
                console.log("시각 (sky.clock):", sky.clock.toISOString());
                
                
                sky.addPointer({
                  ra: sun.ra,
                  dec: sun.dec,
                  label: "태양",
                  colour: "red",
                  
                });
                sky.addPointer({
                    ra: jupiter.ra,
                    dec: jupiter.dec,
                    label: "목성",
                    colour: "orange",
                    
                  });
                sky.addPointer({
                    ra: saturn.ra,
                    dec: mars.dec,
                    label: "토성",
                    colour: "orange",
                    
                  });
                sky.addPointer({
                    ra: saturn.ra,
                    dec: mars.dec,
                    label: "화성",
                    colour: "white",
                    
                  });
                
                
               
                
                
               
            	
              }, 2000); // VirtualSky 렌더링 완료까지 약간 대기
          });
      }

      function error() {
        $("#info").text(" 위치 정보를 불러올 수 없습니다.");
      }
    });
  </script>
</body>
</html>